Example 1

In [9]:
age = [15, 18, 25, 31, 10, 17, 44, 33, 12, 19, 13, 29, 50, 10, 37]

In [11]:
for number in age:
    age = number
    print('age = ',number)
    if age >=18:
        print('Eligible to vote')
    else:
        print('Not eligible to vote')
    print('* *')

age =  15
Not eligible to vote
* *
age =  18
Eligible to vote
* *
age =  25
Eligible to vote
* *
age =  31
Eligible to vote
* *
age =  10
Not eligible to vote
* *
age =  17
Not eligible to vote
* *
age =  44
Eligible to vote
* *
age =  33
Eligible to vote
* *
age =  12
Not eligible to vote
* *
age =  19
Eligible to vote
* *
age =  13
Not eligible to vote
* *
age =  29
Eligible to vote
* *
age =  50
Eligible to vote
* *
age =  10
Not eligible to vote
* *
age =  37
Eligible to vote
* *

Example 2

In [30]:
users = ['user1', 'user2', 'user6', 'user9', 'user4', 'user11', 'user18', 'user10', 'user15', 'user21', 'user31', 'user7', 'user29', 'user31', 'user3']

In [31]:
for user in users:
    users = user
    print('user = ',user)
    if int(user[-1]) % 2 == 0:
        print(f'{user} ends with an even value.')
    else:
        print(f'{user} ends with an odd value.')
    print('- - -')

user =  user1
user1 ends with an odd value.
- - -
user =  user2
user2 ends with an even value.
- - -
user =  user6
user6 ends with an even value.
- - -
user =  user9
user9 ends with an odd value.
- - -
user =  user4
user4 ends with an even value.
- - -
user =  user11
user11 ends with an odd value.
- - -
user =  user18
user18 ends with an even value.
- - -
user =  user10
user10 ends with an even value.
- - -
user =  user15
user15 ends with an odd value.
- - -
user =  user21
user21 ends with an odd value.
- - -
user =  user31
user31 ends with an odd value.
- - -
user =  user7
user7 ends with an odd value.
- - -
user =  user29
user29 ends with an odd value.
- - -
user =  user31
user31 ends with an odd value.
- - -
user =  user3
user3 ends with an odd value.
- - -

Example 3

In [43]:
PinCode = [840034, 123456, 456756, 374589, 894567, 295678, 128976, 683546, 387654, 836587, 678945, 135897, 785612,678945,678945]

In [44]:
for code in PinCode:
    PinCode = code
    print('PinCode = ',code)
    if str(code).startswith('1'):
        print('Northern Region')
    elif str(code).startswith('3'):
        print('western Region')
    elif str(code).startswith('6'):
        print('Southern Region')
    elif str(code).startswith('8'):
        print('Eastern Region')
    else:
        print('Other Region')
    print('. . . .')

PinCode =  840034
Eastern Region
. . . .
PinCode =  123456
Northern Region
. . . .
PinCode =  456756
Other Region
. . . .
PinCode =  374589
western Region
. . . .
PinCode =  894567
Eastern Region
. . . .
PinCode =  295678
Other Region
. . . .
PinCode =  128976
Northern Region
. . . .
PinCode =  683546
Southern Region
. . . .
PinCode =  387654
western Region
. . . .
PinCode =  836587
Eastern Region
. . . .
PinCode =  678945
Southern Region
. . . .
PinCode =  135897
Northern Region
. . . .
PinCode =  785612
Other Region
. . . .
PinCode =  678945
Southern Region
. . . .
PinCode =  678945
Southern Region
. . . .

Example 4

In [55]:
years = [2025, 2024, 2021, 2019, 2016, 2011, 1996, 1993, 1998, 1973, 1963, 2026, 2030, 2023,2034]

In [56]:
for year in years:
    years = year
    print('Year = ',year)
    if year % 4 == 0:
        print('Leap Year')
    else:
        print('not leap year')
    print('* * *')

Year =  2025
not leap year
* * *
Year =  2024
Leap Year
* * *
Year =  2021
not leap year
* * *
Year =  2019
not leap year
* * *
Year =  2016
Leap Year
* * *
Year =  2011
not leap year
* * *
Year =  1996
Leap Year
* * *
Year =  1993
not leap year
* * *
Year =  1998
not leap year
* * *
Year =  1973
not leap year
* * *
Year =  1963
not leap year
* * *
Year =  2026
not leap year
* * *
Year =  2030
not leap year
* * *
Year =  2023
not leap year
* * *
Year =  2034
not leap year
* * *

Example 5

In [67]:
Numbers = [-1, 34, 0, -8, 67, -6, 100, 0, -9, 0, -89, 12, -34, -1000, 98]

In [68]:
for number in Numbers:
    Numbers = number
    print('Number = ',number)
    if number > 0:
        print('Number is positive')
    elif number < 0:
        print('Number is negative')
    else:
        print('Number is zero')
    print('.....')

Number =  -1
Number is negative
.....
Number =  34
Number is positive
.....
Number =  0
Number is zero
.....
Number =  -8
Number is negative
.....
Number =  67
Number is positive
.....
Number =  -6
Number is negative
.....
Number =  100
Number is positive
.....
Number =  0
Number is zero
.....
Number =  -9
Number is negative
.....
Number =  0
Number is zero
.....
Number =  -89
Number is negative
.....
Number =  12
Number is positive
.....
Number =  -34
Number is negative
.....
Number =  -1000
Number is negative
.....
Number =  98
Number is positive
.....

Example 6

In [72]:
Fruits = ['Apple', 'Orange', 'Banana', 'Avocado', 'Cherry', 'Mango', 'Elderberry', 'Pineapple', 'Apricot','Blueberry','Grape','Peach', 'Kiwi','Strawberry', 'Raspberry']

In [73]:
for word in Fruits:
    Fruits = word
    print('Fruit = ',word)
    if word[0].lower() in 'aeiou':
        print(f'{word} starts with a vowel.')
    else:
        print(f'{word} starts with a consonant.')
    print('- - -')

Fruit =  Apple
Apple starts with a vowel.
- - -
Fruit =  Orange
Orange starts with a vowel.
- - -
Fruit =  Banana
Banana starts with a consonant.
- - -
Fruit =  Avocado
Avocado starts with a vowel.
- - -
Fruit =  Cherry
Cherry starts with a consonant.
- - -
Fruit =  Mango
Mango starts with a consonant.
- - -
Fruit =  Elderberry
Elderberry starts with a vowel.
- - -
Fruit =  Pineapple
Pineapple starts with a consonant.
- - -
Fruit =  Apricot
Apricot starts with a vowel.
- - -
Fruit =  Blueberry
Blueberry starts with a consonant.
- - -
Fruit =  Grape
Grape starts with a consonant.
- - -
Fruit =  Peach
Peach starts with a consonant.
- - -
Fruit =  Kiwi
Kiwi starts with a consonant.
- - -
Fruit =  Strawberry
Strawberry starts with a consonant.
- - -
Fruit =  Raspberry
Raspberry starts with a consonant.
- - -

Example 7

In [3]:
Price = [200, 1000, 899, 305, 1060, 99, 749, 800, 100, 999, 2010, 55, 699, 467, 3856]

In [4]:
for num in Price:
    Price = num
    print('Price = ',num)
    if num >= 1000:
        print('Expensive')
    elif num < 1000 and num > 500:
        print('Affordable')
    else:
        print('Cheap')
    print('- - -')

Price =  200
Cheap
- - -
Price =  1000
Expensive
- - -
Price =  899
Affordable
- - -
Price =  305
Cheap
- - -
Price =  1060
Expensive
- - -
Price =  99
Cheap
- - -
Price =  749
Affordable
- - -
Price =  800
Affordable
- - -
Price =  100
Cheap
- - -
Price =  999
Affordable
- - -
Price =  2010
Expensive
- - -
Price =  55
Cheap
- - -
Price =  699
Affordable
- - -
Price =  467
Cheap
- - -
Price =  3856
Expensive
- - -

Example 8

In [19]:
PhoneNo = ['+9112345', '+9165738', '+4485764', '+187674', '+9198567', '+4490875', '+81768489', '+4490876', '+9183485', '+5583759', '+19475838', '+4489076', '+1789746','+91897654']

In [21]:
for num in PhoneNo:
    print('PhoneNo = ', num)
    if str(num).startswith('+91'):
        print('This PhoneNo belongs to India')
    elif str(num).startswith('+44'):
        print('This PhoneNo belongs to UK')
    elif str(num).startswith('+1'):
        print('This PhoneNo belongs to USA')
    else:
        print('Other Country')
    print('. . . .')

PhoneNo =  +9112345
This PhoneNo belongs to India
. . . .
PhoneNo =  +9165738
This PhoneNo belongs to India
. . . .
PhoneNo =  +4485764
This PhoneNo belongs to UK
. . . .
PhoneNo =  +187674
This PhoneNo belongs to USA
. . . .
PhoneNo =  +9198567
This PhoneNo belongs to India
. . . .
PhoneNo =  +4490875
This PhoneNo belongs to UK
. . . .
PhoneNo =  +81768489
Other Country
. . . .
PhoneNo =  +4490876
This PhoneNo belongs to UK
. . . .
PhoneNo =  +9183485
This PhoneNo belongs to India
. . . .
PhoneNo =  +5583759
Other Country
. . . .
PhoneNo =  +19475838
This PhoneNo belongs to USA
. . . .
PhoneNo =  +4489076
This PhoneNo belongs to UK
. . . .
PhoneNo =  +1789746
This PhoneNo belongs to USA
. . . .
PhoneNo =  +91897654
This PhoneNo belongs to India
. . . .

Example 9

In [24]:
Numbers = [25, 78, 30, 68, 187, 7896, 3, 305, 250, 33, 153, 90, 21, 789, 56]

In [26]:
for num in Numbers:
    print('Number = ', num)
    if num % 5 == 0:
        print('Divisible by 5')
    elif num % 3 == 0:
        print('Divisible by 3')
    else:
        print('Not divisible by 5 and 3')
    print('.   .   .')

Number =  25
Divisible by 5
.   .   .
Number =  78
Divisible by 3
.   .   .
Number =  30
Divisible by 5
.   .   .
Number =  68
Not divisible by 5 and 3
.   .   .
Number =  187
Not divisible by 5 and 3
.   .   .
Number =  7896
Divisible by 3
.   .   .
Number =  3
Divisible by 3
.   .   .
Number =  305
Divisible by 5
.   .   .
Number =  250
Divisible by 5
.   .   .
Number =  33
Divisible by 3
.   .   .
Number =  153
Divisible by 3
.   .   .
Number =  90
Divisible by 5
.   .   .
Number =  21
Divisible by 3
.   .   .
Number =  789
Divisible by 3
.   .   .
Number =  56
Not divisible by 5 and 3
.   .   .

Example 10

In [42]:
movies = [
    {'movie':'KGF' , 'imdb':8.1},
    {'movie':'chhaava' , 'imdb':9.5},
    {'movie':'gadar 2' , 'imdb':4.5},
    {'movie':'Dangal' , 'imdb':8.3},
    {'movie':'kalki' , 'imdb':6.5},
    {'movie':'PK' , 'imdb':9},
    {'movie':'Jigra' , 'imdb':4},
    {'movie':'Bahubali' , 'imdb':8.9},
    {'movie':'RRR' , 'imdb':7.5},
    {'movie':'Maidan' , 'imdb':3.5},
    {'movie':'Lagaan' , 'imdb':7.5}, 
    {'movie':'3 idiots' , 'imdb':9.5},
]

In [43]:
for movie in movies:
    if movie['imdb'] > 8:
        print(f'{movie['movie']} is Blockbuster Movie.')
    elif 5 < movie['imdb'] < 8:
        print(f'{movie['movie']} is Average Movie.')
    else:
        print(f'{movie['movie']} is Flop Movie.')
    print('. . . .')

KGF is Blockbuster Movie.
. . . .
chhaava is Blockbuster Movie.
. . . .
gadar 2 is Flop Movie.
. . . .
Dangal is Blockbuster Movie.
. . . .
kalki is Average Movie.
. . . .
PK is Blockbuster Movie.
. . . .
Jigra is Flop Movie.
. . . .
Bahubali is Blockbuster Movie.
. . . .
RRR is Average Movie.
. . . .
Maidan is Flop Movie.
. . . .
Lagaan is Average Movie.
. . . .
3 idiots is Blockbuster Movie.
. . . .